%header__btn {
    margin-bottom: 145px;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    border: 1px solid $header__btn--bg-color;
}

%line_r-l {
    display: block;
    width: 3px; 
    height: 9px;
    border-top: 1px solid black;
}