@font-face {
    font-family: 'Hind Siliguri';
    src: url('../fonts/HindSiliguri-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Hind Siliguri';
    src: url('../fonts/HindSiliguri-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Hind Siliguri';
    src: url('../fonts/HindSiliguri-Light.woff2') format('woff2');
    font-weight: 300;
}