$green__card-gradient: linear-gradient(317deg, rgba(114,195,153,1) 0%, rgba(228,224,79,1) 100%); 
$blue__card-gradient: linear-gradient(317deg, rgba(46,126,227,1) 0%, rgba(173,210,245,1) 100%);
$red__card-gradient: linear-gradient(262deg, rgba(250,165,165,1) 0%, rgba(252,75,75,1) 100%);